.carouselNavigation {
    min-height: 3.25rem;
    height: 3.25rem;
    margin-top: 1rem;
    background-color: rgba(219, 219, 219, 0.2);
}

@media only screen and (max-width: 900px) {
    .carouselNavigation {
        margin-top: 0;
    }
}