.bufferedContentContainer {
    position: relative;
}

.mainContent {
    width: 100%;
}

.contentContainer {
    display: flex;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 28%, rgba(0, 0, 0, 1) 88%, rgba(0, 0, 0, 0) 100%);
    min-height: 100vh;
    z-index: 10;
    position: relative;
}

.footerTransition {
    width: 100%;
    height: 70vh;
    background: rgb(0, 0, 0, 0.94);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.94) 0%, rgba(0, 0, 0, 0.20) 75%, rgba(0, 0, 0, 0) 100%);
    position: relative;
    z-index: 9;
    pointer-events: none;
}

.footerBuffer {
    width: 100%;
    z-index: 1;
    height: 100vh;
    position: relative;
    min-height: 100vh;
}

.footer {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    pointer-events: none;
}

.footerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    opacity: 1;
    transition: visibility 0s, ease 0.38s, opacity 0.38s ease;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    opacity: 1;
    transition: visibility 0s, ease 0.38s, opacity 0.38s ease;

}

.footerImageHidden {
    composes: footerImage;
    opacity: 0;
    transition: visibility 0s, ease 0.3s, opacity 0.3s ease;
    
}

.footerStack {
    width: 100%;
    height: 100%;
}

.mainContent {
    width: 100%;
    height: 100%;
}

.indexNav {
    width: 90%;
    position: relative;
    z-index: 4;
    justify-content: center;
    display: flex;
    padding: 0 2rem;
    pointer-events: all;

}

.navLinks {
    display: unset;
    width: auto;
}

.navLink {
    font-weight: 200;
    color: rgb(220, 206, 183);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-right: 4.125rem;
    display: inline-block;
    transition: color .15s;
    line-height: 3.25rem;
}

.navLinkActive {
    composes: navLink;
    color: white;
}

.navLink:hover {
    color: white;
    transition: color .15s;
}

.navLink:last-child {
    margin-right: 0;
}

.sectionBackground {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
    background: black;
}


.fadedContentContainer {
    width: 100%;
    height: 100vh;
    mask-image: linear-gradient(180deg, rgba(0, 0, 0,1) 10%, rgba(0, 0, 0, 1) 28%, rgba(0, 0, 0, 1) 88%, rgba(0, 0, 0, 0) 100%);
    
    
}

.fadedContent::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.fadedContent {
    
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

@media only screen and (max-width: 900px) {
    .footerImage {
        display: none;
    }

}