.entryNavigation {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 2rem 0;
}

.navigationLink {
    color: #A08A5D;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.navigationLink:last-child {
    margin-bottom: 0;
}

.navigationLinkIcon {
    margin: 0 1rem 0 0;
}

.navigationLinkText {
    color: #212121;
    transition: color .15s;
    font-size: 0.625rem;
    letter-spacing: 0.30em;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.25rem;
}

.navigationLinkText:hover {
    color: #A08A5D;
    transition: color .15s;
}

@media only screen and (min-width: 0px) and (max-width: 900px) {
    .navigationLink {
        margin-bottom: 1.25rem;
    }
}